{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="div-global">
		<h1 class="text-center pt-5 titre-home">
			Lorem ipsum
		</h1>

		<!-- include de l'affichage de la section de recherche des posts -->
		{% include "include/formPost.html.twig" %}

		<!-- affichage des posts des abonnements de l'utilisateur connecté -->
		<section class="posts-TL">
			<h4 class="text-dark mb-5">
				<i class="fas fa-caret-right me-1"></i>
				Abonnements
			</h4>
			<!-- affichage des posts -->
			{% include "include/forPostHome.html.twig" %}
		</section>
	</div>
{% endblock %}
