<nav
	class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div
		class="container">
		<!-- Navbar brand -->
		<a
			class="navbar-brand me-2" href="#">{# <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="16" alt="MDB Logo" loading="lazy" style="margin-top: -1px;"/> #}
		</a>

		<!-- Toggle button -->
		<button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fas fa-bars"></i>
		</button>

		<!-- Collapsible wrapper -->
		<div
			class="collapse navbar-collapse" id="navbarButtonsExample">
			<!-- Left links -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link text-dark" href="{{ path('app_home') }}">
						<i class="fas fa-house"></i>
					</a>
				</li>
			</ul>
			<!-- Left links -->

			<div class="d-flex align-items-center">
				{% if app.user %}
					<a type="button" class="btn btn-dark btn-rounded" href="{{ path('app_account', {'username': app.user.username}) }}">
						<i class="fas fa-user"></i>
					</a>
					<!-- affichage des liens vers le formulaire de déconnexion -->
					<a type="button" class="btn btn-outline-dark btn-rounded ms-3" href="{{ path('app_logout') }}">
						<i class="fas fa-arrow-right-from-bracket"></i>
					</a>
				{% else %}
					<!-- affichage du lien vers le formulaire de connexion -->
					<a type="button" class="btn btn-dark btn-rounded" href="{{ path('app_login') }}">
						<i class="fas fa-user"></i>
					</a>
					<!-- affichage du lien vers la faq -->
					<a type="button" class="btn btn-outline-dark btn-rounded ms-3" href="#" title="En savoir plus">
						<i class="fas fa-question"></i>
					</a>
				{% endif %}
			</div>
		</div>
		<!-- Collapsible wrapper -->
	</div>
	<!-- Container wrapper -->
</nav>
<!-- Navbar -->
