{% extends 'base.html.twig' %}

{% block title %}Hello StripeSuccessPaymentController!
{% endblock %}

{% block body %}
	<div>
		<h1>Paiement réussi !</h1>

		<p>
			Merci pour votre commande
		</p>


		<a href="{{ path('app_home') }}">Retourner sur le site</a>
	</div>
{% endblock %}
