/** profil **/
.section-profil {
  margin-top: 75px;

  color: var(--main);
  background-color: var(--third);
  width: 35%;
  padding: 25px;
  border-radius: 10px;
  padding-bottom: 7.5px !important;
}
.section-profil-top {
  display: flex;
  justify-content: space-between;
}
.section-profil-img {
  border-radius: 100px;
  width: 125px;
  margin-top: -50px !important;
}
.vers-edit-profil {
  color: var(--main);
}
.vers-edit-profil:hover {
  color: var(--main);
}
/** form edit profil **/
.form-edit-profil {
  padding: 25px !important;
  background-color: var(--third) !important;
  border-radius: 5px !important;
}
.textarea-edit-profil {
  height: 110px;
  max-height: 110px;
}
.modal-edit-profil {
  margin-top: 100px;
}
.alert-dismissible {
  width: 50% !important;
  text-align: center !important;
}

/*** affichage des posts ****/
.section-posts {
  margin: 5%;
}
.post-card-body {
  background-color: var(--third);
  height: 467.5px !important;
}
.post-card-body-img {
  height: 175px !important;
  background-color: var(--third);
}
.card-img-top {
  border-radius: 5px !important;
  border-bottom-left-radius: 1px !important;
  border-bottom-right-radius: 1px !important;
}
.post-card-img {
  height: 293px !important;
}
.post-card-text {
  margin-top: 22.5px !important;
  margin-bottom: 22.5px !important;
}
.fa-bookmark {
  color: var(--second) !important;
}
/**** POST CRUD ***/
.form-crud {
  background-color: var(--third) !important;
  min-height: 675px;
  padding-left: 15% !important;
  padding-right: 15% !important;
  padding-top: 100px !important;
  color: var(--main) !important;
}
.form-post {
  border-radius: 5px !important;
}
.btn-post-edit {
  margin-top: -20px !important;
  z-index: 1 !important;
}
.show-post {
  color: var(--main) !important;
  padding: 75px !important;
  background-color: var(--third);
  min-height: 660px;
}
.img-fluid {
  border-radius: 5px !important;
}
.div-btn-post-compteur {
  margin-top: -42.5px;
  padding-bottom: 10px !important;
}
.btn-post-compteur {
  letter-spacing: 0.7px !important;
  text-transform: none !important;
  color: var(--third) !important;
  font-weight: normal !important;
  background-color: var(--second) !important;
}
