/** profil **/
.section-profil {
  margin-top: 75px;

  color: var(--main);
  background-color: var(--third);
  width: 35%;
  padding: 25px;
  border-radius: 10px;
  padding-bottom: 7.5px !important;
}
.section-profil-top {
  display: flex;
  justify-content: space-between;
}
.section-profil-img {
  border-radius: 100px;
  width: 125px;
  margin-top: -50px !important;
}
.vers-edit-profil {
  color: var(--second);
}
.vers-edit-profil:hover {
  color: var(--second);
}
/** form edit profil **/
.form-edit-profil {
  padding: 25px !important;
  background-color: var(--third) !important;
  border-radius: 5px !important;
}
.textarea-edit-profil {
  height: 110px;
  max-height: 110px;
}
.modal-edit-profil {
  margin-top: 100px;
}
.alert-dismissible {
  width: 50% !important;
  text-align: center !important;
}
/**** POST CRUD ***/
.form-crud {
  background-color: var(--third) !important;
  min-height: 675px;
  padding-left: 15% !important;
  padding-right: 15% !important;
  padding-top: 100px !important;
  color: var(--main) !important;
}
.form-post {
  border-radius: 5px !important;
}
.btn-post-edit {
  margin-top: -35px !important;
  z-index: 1 !important;
}
.show-post {
  color: var(--main) !important;
  padding: 75px !important;
  background-color: var(--third);
  min-height: 660px;
}
.img-fluid {
  border-radius: 5px !important;
}
/*** système d'abonnement ***/
.nbr_abonnes-abonnements {
  text-transform: none !important;
  font-size: 14.5px !important;
  color: var(--main) !important;
  font-weight: normal !important;
}
.section-affichage-des-abonnements {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.affichage-des-abonnements-card {
  width: 535px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.show-post-user {
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: normal !important;
  color: var(--third) !important;
  background-color: var(--second) !important;
}

/****/
.app-user-info {
  color: var(--second) !important;
}
.btn-se-desabonner {
  background-color: var(--main) !important;
  color: var(--third) !important;
}
.post-content {
  border-left: solid 2px var(--main);
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 1px;

  margin-top: 35px;
  margin-left: 5px;
  margin-bottom: 15px;
}
.fleche-nouveautes {
  color: var(--second) !important;
}
