@import url("https://fonts.googleapis.com/css2?family=Montez&display=swap");
:root {
  --main: #262626;
  --second: #ddbc64;
  --third: #fbfbfb;
}
.navbar {
  padding-top: 12.5px !important;
  padding-bottom: 12.5px !important;
  box-shadow: none !important;
  margin-left: -90px !important;
}
/** TL **/
.posts-TL {
  padding: 5%;
}
/***************/
.barre-form {
  margin-top: 2.5%;

  margin-left: 5%;
  margin-right: 5%;
  padding: 3.5%;
  background-color: var(--third) !important;
  border-radius: 5px !important;
}
.titre-home {
  color: var(--main) !important;
}
