.posts-TL {
  padding: 5%;
}
/** forPostAccount **/
.post-card-img {
  height: 293px !important;
}
.post-card-body-img {
  height: 175px !important;
  background-color: var(--third);
}
.div-btn-post-compteur {
  margin-top: -42.5px;
  padding-bottom: 10px !important;
}
.btn-post-compteur {
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: normal !important;
  color: var(--main) !important;
  background-color: #fbfbfb !important;
}
.btn-post-user {
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: normal !important;
  color: var(--third) !important;
  background-color: var(--second) !important;

  margin-left: 5px !important;
}
.post-card-body {
  background-color: var(--third);
  height: 467.5px !important;
}
.post-card-text {
  margin-top: 22.5px !important;
  margin-bottom: 22.5px !important;
}
/** forPostIsPinned **/
.fa-bookmark {
  color: var(--second) !important;
}
/** form Posts **/
.form-log {
  padding-top: 35px;
  padding-left: 250px;
  padding-right: 250px;
  min-height: 550px;
}
.fa-check-postTag {
  color: var(--second);
}
.barre-form {
  margin-top: 2.5%;

  margin-left: 5%;
  margin-right: 5%;
  padding: 3.5%;
  background-color: var(--third) !important;
  border-radius: 5px !important;
}
.btn-postTag {
  text-transform: none !important;
  font-weight: normal !important;
  /* letter-spacing: 0.7px !important; */
  font-size: 14px !important;
}
.btn-postTag-request {
  background-color: var(--main) !important;
  color: var(--second) !important;
}
.postResults-name {
  color: var(--second) !important;
}
.fa-heart {
  color: var(--second) !important;
}
/** section en tendance **/
.posts-TL-page {
  padding-bottom: 5% !important;
  padding-left: 5% !important;
  padding-right: 5% !important;

  padding-top: 1.5% !important;
}
.div-pills {
  padding-top: 3.1% !important;
  padding-left: 5% !important;
  display: flex !important;
  justify-content: left !important;
}
.nav-link-pills {
  text-transform: none !important;
  font-size: 15.5px !important;
  font-weight: normal !important;
  color: var(--main) !important;
  border-radius: 100px !important;
  background-color: var(--third) !important;

  margin-right: 15px !important;
  width: 200px !important;
}
a.nav-link.nav-link-pills.active {
  background-color: var(--third) !important;
  color: var(--second) !important;
}
/*********/
.date-commentaire {
  font-weight: lighter !important;
  font-size: 16px !important;
  color: var(--main) !important;
}
.card-title-commentaire {
  color: var(--second) !important;
}

.form-control {
  max-height: 200px !important;
}
.post-content {
  color: var(--main) !important;
  font-size: 18px !important;
}
.element::before {
  content: attr(title);
  border: 1px solid white !important;
}
