@media screen and (max-width: 480px) {
  .post-card-body-img-responsive {
    padding-bottom: 35px !important;
    background-color: var(--third) !important;
  }
  .post-card-body-img-responsive-connected {
    padding-bottom: 50px !important;
    background-color: var(--third) !important;
  }

  .post-card-body-responsive {
    /* padding-bottom: 150px !important; */
    padding-bottom: 50px !important;
    background-color: var(--third) !important;
  }
  .post-card-body-responsive-connected {
    padding-bottom: 50px !important;
    background-color: var(--third) !important;
  }

  .post-card-body-img-isPinned-responsive {
    padding-bottom: 165px !important;
    background-color: var(--third) !important;
  }
  .post-card-body-isPinned-responsive {
    padding-bottom: 490px !important;
    background-color: var(--third) !important;
  }

  .filtres-posts-responsive {
    display: none !important;
  }
  .barre-form {
    margin-top: 5% !important;
    padding: 0% !important;
  }
  #input-form-post-responsive {
    background-color: var(--third) !important;
  }
  .div-pills {
    padding-top: 3.1% !important;
    padding-left: 5% !important;
    display: flex !important;
    justify-content: center !important;
  }

  .btn-post-responsive {
    display: none !important;
  }

  .navbar-brand {
    margin-left: 0;
  }
  .navbar-collapse {
    justify-content: center;
  }
  .navbar-nav .nav-link,
  .d-flex.align-items-center .btn {
    margin-right: 5px;
  }
  .d-flex.align-items-center {
    justify-content: flex-end;
  }

  .titre-actualites-reponsive {
    padding-top: 47.5px !important;
  }
  .section-profil {
    margin-top: 35px !important;
    width: 90% !important;
  }
  .btn-nbr-abonnements-responsive {
    display: none !important;
  }

  .btn-post-compteur-responsive-none {
    display: none !important;
  }

  .show-post {
    padding: 15px !important;
  }

  .form-log {
    padding-bottom: 110px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .section-contact {
    min-height: 320px !important;
  }
  .form-crud {
    padding-top: 0px !important;
  }
}
