{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!
{% endblock %}

{% block body %}
	<div>
		<h1>Mon panier</h1>

		<section>
			{% for item in cart %}
				{{ item.product.title }}
				{{ item.product.price }}&euro;
				{{ item.quantity }}
				{{ item.product.price * item.quantity }}&euro;
			{% endfor %}
		</section>
	</div>
{% endblock %}
