{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<div>
<h1>Tous les articles</h1>
    {% for article in articles %}
        <a href="{{ path('article', {'slug':article.slug})}}">
            {{ article.title }}
        </a>
    {% endfor %}

    <div class="navigation">
		{{ knp_pagination_render(articles) }}
	</div>
</div>
{% endblock %}
