<div class="shadow" id="header-info">
	Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cum adipisci omnis ratione ?
</div>
<div class="section-blog-home">
	<h1 class="text-light text-center">Actualités</h1>
</div>
