<div class="shadow" id="header-info">
	{% for info in infos %}
		{{ info.header|raw}}
	{% endfor %}
</div>
<div class="section-blog-home">

	<h1 class="text-dark text-center">Actualités</h1>

	<div class="row mt-5">
		<div class="col-sm-6 mb-4">
			<div class="card card-article">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

					<button class="btn btn-light btn-post-compteur shadow">
						<i class="far fa-clock me-1"></i>
						20 mai 2023
					</button>
				</div>
			</div>
		</div>
		<div class="col-sm-6 mb-4">
			<div class="card card-article">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

					<button class="btn btn-light btn-post-compteur shadow">
						<i class="far fa-clock me-1"></i>
						20 mai 2023
					</button>
				</div>
			</div>
		</div>

		<!-- different -->
		<div class="col-sm-12 mb-4">
			<div class="card card-article text-center">
				<div class="card-body">
					<h5 class="card-title">Special title treatment</h5>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

					<button class="btn btn-light btn-post-compteur shadow">
						<i class="far fa-clock me-1"></i>
						20 mai 2023
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
