{% extends 'base.html.twig' %}

{% block title %}
	Accueil - Recherche par mot-clé
{% endblock %}

{% block body %}
	<div class="div-global">
		<h1 class="text-center text-dark pt-5">
			{{ postTag.name }}
		</h1>

		<!-- include de l'affichage de la section de recherche des posts -->
		{% include "include/formPost.html.twig" %}

		<!-- affichage des posts recherchés -->
		<section
			class="posts-TL">
			<!-- affichage des posts -->
			{% include "include/forPostHome.html.twig" %}
		</section>
	</div>
{% endblock %}
