{% extends 'base.html.twig' %}

{% block title %}
	Nouvelle publication
{% endblock %}

{% block body %}
	<div class="form-crud">
		<h1 class="mb-4">{{ block('title') }}</h1>
		<!-- intégration du formulaire -->
		{{ include('post/_form.html.twig') }}
	</div>
{% endblock %}
