{% extends 'base.html.twig' %}

{% block title %}New Post
{% endblock %}

{% block body %}
	<div class="form-crud">
		<h1>Nouveau post</h1>
		<br>

		{{ include('post/_form.html.twig') }}
	</div>
{% endblock %}
