{% extends "base.html.twig" %}
{% block title %}
	Paiement refusé
{% endblock %}

{% block body %}
	<div class="div-panier">
		<h1 class="text-dark">
			Malheureusement, votre achat n°
			{{ order.reference }}
			a
			<span class="text-danger">échoué</span>.
		</h1>

		<a href="{{ path('app_home') }}">
			Retour
		</a>
	</div>
{% endblock %}
